@use '@/utils/sass/functions'

.footer
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 2rem
    div
        max-width: 270px
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        gap: .8rem
    ul
        display: flex
        align-items: center
        gap: 1.5rem
    p
        color: #fff
        font-size: 1.2rem
    a
        color: #f5bc01
        &:hover
            color: #fff
    .border
        height: 1px
        max-width: 250px
        width: 100%
        background: #f5bc01
