.button
    padding: .7rem 2rem
    font-weight: bold
    box-shadow: 1px 1px 11px 2px #04154b8f
    font-size: 1.3rem
    &.primary
        background: var(--color-primary)
    &.secondary
        background: var(--color-secondary)